/*Header*/
.carousel-inner {
    height: 100vh;
}

.carousel-item {
	width: 100%;
	height: 100%;
}

div#carouselExampleControls > .carousel-inner > .carousel-item > img {
	height: 100%;
	object-fit: cover;
}

.inner {
	flex-direction: row;
	flex-wrap: wrap;
}

.img_wrap {
	width: 50%;
}

.inner > div {
	width: 50%;
}